QWidget{
    color: #b1b1b1;
    background-color: #160000;


    
}
QPushButton{
    
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #da8300, stop: 0.2 #4e4e4e, stop: 0.5 #525252, stop: 0.8 #4a4a4a, stop: 1 #da8300);
    color: coral;
    border-width: 2;
    border-color: orange;
    border-radius: 6;
    border-style: solid;
    

}
QComboBox
{
    selection-background-color: #ffaa00;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #565656, stop: 0.1 #525252, stop: 0.5 #4e4e4e, stop: 0.9 #4a4a4a, stop: 1 #464646);
    border-style: solid;
    border: 1px solid #ffaa00;
    border-radius: 5;
}

QComboBox:hover,QPushButton:hover
{
    color: #e0f0ff;
    border: 2px solid QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #ffa02f, stop: 1 #d7801a);
    border-top: 3px solid QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0.5 #ec0000, stop: 1 #d7801a);
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0.3 #da8300, stop: 0.8 #4a4a4a, stop: 1 #4a4a4a);
}


QComboBox:on
{
    padding-top: 3px;
    padding-left: 4px;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2d2d2d, stop: 0.1 #2b2b2b, stop: 0.5 #292929, stop: 0.9 #282828, stop: 1 #252525);
    selection-background-color: #ffaa00;
}

QComboBox QAbstractItemView
{
    border: 2px solid darkgray;
    selection-background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #ffa02f, stop: 1 #d7801a);
}

QComboBox::drop-down
{
     subcontrol-origin: padding;
     subcontrol-position: top right;
     width: 15px;

     border-left-width: 0px;
     border-left-color: darkgray;
     border-left-style: solid; /* just a single line */
     border-top-right-radius: 3px; /* same radius as the QComboBox */
     border-bottom-right-radius: 3px;
 }

QComboBox::down-arrow
{
     image: url(:/dark_orange/img/down_arrow.png);
}

QLineEdit
{
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #4d4d4d, stop: 0 #646464, stop: 1 #5d5d5d);
    padding: 1px;
    border-style: solid;
    border: 2px solid orange;
    border-radius: 5;
}

QTabWidget::pane { /* The tab widget frame */
    border-top: 2px solid orange;
}

QTabWidget::tab-bar {
    left: 5px; /* move to the right by 5px */
}

/* Style the tab using the tab sub-control. Note that
    it reads QTabBar _not_ QTabWidget */
QTabBar::tab {
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #da8300, stop: 0.2 #4e4e4e, stop: 0.5 #525252, stop: 0.8 #4a4a4a, stop: 1 #da8300);
    border-top-style: solid;
    border-top-color: orange;
    border-bottom-color: orange; /* same as the pane color */
    border-top-left-radius: 1px;
    border-top-right-radius: 5px;
    min-width: 8ex;
    padding: 2px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    color: #e0f0ff;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0.3 #da8300, stop: 0.8 #4a4a4a, stop: 1 #4a4a4a);
    border-top: 3px solid QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0.5 #ec0000, stop: 1 #d7801a);
    border-right: 3px solid QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0.5 #ec0000, stop: 1 #d7801a);
    border-left: 3px solid QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0.5 #ec0000, stop: 1 #d7801a);
}


QTabBar::tab:!selected {
    margin-top: 2px; /* make non-selected tabs look smaller */
}

QListView {
    background-color: #3a3a3a;
    border-width: 3px;
    border-color: orange;
    border-radius: 5;
    border-style: solid;
    color: aliceblue;
    
}
QListView::item:alternate {
    background: #ff0000;
}

QListView::item:selected {
    border: 1px solid #6a6ea9;
}

QListView::item:selected:!active {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #ABAFE5, stop: 1 #8588B2);
}

QListView::item:selected:active {
    color: #160000;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0.5 #ffa500, stop: 1 #888dd9);
                                
}

QListView::item:hover {
    border-top: 3px solid QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0.5 #ec0000, stop: 1 #d7801a);
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0.3 #da8300, stop: 0.8 #4a4a4a, stop: 1 #4a4a4a);
}

QScrollBar:horizontal {
    border: 1px solid #222222;
    background: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0.0 #121212, stop: 0.2 #282828, stop: 1 #484848);
    height: 12px;
    margin: 0px 16px 0 16px;
}

QScrollBar::handle:horizontal
{
     background: QLinearGradient( x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 #ffa02f, stop: 0.5 #ec0000, stop: 1 #ffa02f);
     min-height: 20px;
     border-radius: 2px;
}

QScrollBar::add-line:horizontal {
     border: 1px solid #1b1b19;
     border-radius: 2px;
     background: QLinearGradient( x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 #ffa02f, stop: 1 #d7801a);
     width: 14px;
     subcontrol-position: right;
     subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
     border: 1px solid #1b1b19;
     border-radius: 2px;
     background: QLinearGradient( x1: 0, y1: 0, x2: 1, y2: 0, stop: 0 #ffa02f, stop: 1 #d7801a);
     width: 14px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::right-arrow:horizontal, QScrollBar::left-arrow:horizontal
{
     border: 1px solid black;
     width: 1px;
     height: 1px;
     background: white;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
     background: none;
}

QScrollBar:vertical
{
     background: QLinearGradient( x1: 0, y1: 0, x2: 1, y2: 0, stop: 0.0 #121212, stop: 0.2 #282828, stop: 1 #484848);
     width: 12px;
     margin: 16px 0 16px 0;
     border: 1px solid #222222;
}

QScrollBar::handle:vertical
{
     background: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #ffa02f, stop: 0.5 #ec0000, stop: 1 #ffa02f);
     min-height: 20px;
     border-radius: 2px;
}

QScrollBar::add-line:vertical
{
     border: 1px solid #1b1b19;
     border-radius: 2px;
     background: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #ffa02f, stop: 1 #d7801a);
     height: 14px;
     subcontrol-position: bottom;
     subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical
{
     border: 1px solid #1b1b19;
     border-radius: 2px;
     background: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #d7801a, stop: 1 #ffa02f);
     height: 14px;
     subcontrol-position: top;
     subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical
{
     border: 1px solid black;
     width: 1px;
     height: 1px;
     background: white;
}


QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
     background: none;
}
QDockWidget::title
{
    text-align: center;
    spacing: 3px; /* spacing between items in the tool bar */
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #323232, stop: 0.5 #242424, stop:1 #323232);
}
QSlider::groove:horizontal {
    border: 1px solid #3A3939;
    height: 8px;
    background: orange;
    margin: 2px 0;
    border-radius: 2px;
}

QSlider::handle:horizontal {
    background: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1,
      stop: 0.0 silver, stop: 0.2 #a8a8a8, stop: 1 #727272);
    border: 1px solid #3A3939;
    width: 14px;
    height: 14px;
    margin: -4px 0;
    border-radius: 2px;
}


